soap/data/foot.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions name="championnat" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
	xmlns:tns="championnatNamespace" 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
	targetNamespace="http://example.com/championnatNamespace">
  
  <wsdl:types>
    <xsd:schema>
      <xsd:element name="bilan">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="b" type="xsd:int" minOccurs="3" maxOccurs="3" />
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="getScoreRequest">
    <wsdl:part type="xsd:string" name="team1"/>
    <wsdl:part type="xsd:string" name="team2"/>
  </wsdl:message>
  <wsdl:message name="getScoreResponse">
    <wsdl:part type="xsd:string" name="scorePart"/>
  </wsdl:message>
  <wsdl:message name="getBilanRequest">
    <wsdl:part type="xsd:string" name="team"/>
  </wsdl:message>
  <wsdl:message name="getBilanResponse">
    <wsdl:part elem="bilan" name="scorePart"/>
  </wsdl:message>
  <wsdl:portType name="championnat">
    <wsdl:operation name="getScore">
      <wsdl:input message="tns:getScoreRequest"/>
      <wsdl:output message="tns:getScoreResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getBilan">
      <wsdl:input message="tns:getBilanRequest"/>
      <wsdl:output message="tns:getBilanResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="championnatSOAP" type="tns:championnat">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getScore">
      <soap:operation soapAction="NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
	<wsdl:operation name="getBilan">
      <soap:operation soapAction="NewOperation"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="championnat">
    <wsdl:port binding="tns:championnatSOAP" name="championnatSOAP">
      <soap:address location="http://localhost/Solutions/SOAP_PHP/server.php"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
